.side{
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: side;
  background: #242c42;
  border-left: 1.3px solid gray;
  padding: 10px;
}

@media all and (max-width:768px) {
  .side{
    -webkit-box-ordinal-group:4;
        -ms-flex-order:3;
            order:3;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: #37474f;
    border-left: none;
    border-top: 1.3px solid gray;
    
  }
  
}

.loading-rapping{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.result-rapper{
  max-width: 100%;
  flex-basis: 100%;
  margin: 10px;
  display: flex;
  gap : 10px;
  flex-direction: column;
}